#color-change-btn {
    background-color: #1abc9c; /* Set default button color */
    color: #fff; /* Set default text color */
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #color-change-btn:hover {
    background-color: #16a085; /* Set hover button color */
  }
  